.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #6200ea;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  font-size: 1.5em;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  overflow-y: scroll;
}

.chat-bubble {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  min-width: 30%;

}

.question-input-box {
  position: sticky;
  bottom: 0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
}

.chat-bubble.assistant {
  background-color: #e0e0e0;
  align-self: flex-start;
}

.chat-bubble.user {
  background-color: #6200ea;
  color: white;
  align-self: flex-end;
}

.delete-icon {
  color: red; 
  position: absolute;
  right:2px;
  cursor: pointer;
  font-size: 22px;
  /* top: 10px; */
  
}
